.category{
    .col-md{
        padding: 0;
    }

    article{
        position: relative;
        z-index: 20;
        header{
            h2{
                a{
                    color: $blanco;
                }
            }
        }
        .entry-content{
            color: $blanco;
            font-family: $roboto;
            font-weight: $f_light;
            @include media-breakpoint-down(md){
                width:100%!important;
            }
            .btn-secondary{
                background: url(../images/btn-art.png) no-repeat;
                border: 0;
                text-indent: -9999px;
                width: 129px;
                height: 39px;
            }

        }
        .entry-header{
            &.w-50{
                @include media-breakpoint-down(md){
                    width:100%!important;
                }
            }
        }
        .img-articulo{
            text-align: center;
            img{
                height: 100%;
                object-fit: cover;
                @include media-breakpoint-down(md){
                    width: 50%;
                    margin: 0 auto;
                    display: block;
                }
            }
            z-index: 10;
        }
        .c-article{
            @include media-breakpoint-down(md){
                margin-left: 0!important;
                margin-bottom: 0!important;
                margin-right: 0!important;
            } 
        }
        .info-articulo{
            display: flex;
            align-items: flex-end;
        }

        &:nth-child(5n+1){
            background: #6ccaec;

            .img-articulo{
                order: 1;
            }
            .c-article{
                margin-left: 70px;
                margin-bottom: 50px;
                .entry-content,
                .entry-header{
                    margin-right: auto; 
                    
                }
            }
        }
        &:nth-child(5n+2){
            background: #30acd9;
            .c-article{
                margin-right: 70px;
                margin-bottom: 50px;
                .entry-content,
                .entry-header{
                    margin-left: auto; 
                    
                }
            }
        }
        &:nth-child(5n+3){
            background: #275495;
            .img-articulo{
                order: 1;
            }
            .c-article{
                margin-left: 70px;
                margin-bottom: 50px;
                .entry-content,
                .entry-header{
                    margin-right: auto; 
                    
                }
            }
        }
        &:nth-child(5n+4){
            background: #7300ab;
            .c-article{
                margin-right: 70px;
                margin-bottom: 50px;
                .entry-content,
                .entry-header{
                    margin-left: auto; 
                    
                }
            }
        }
        &:nth-child(5n+5){
            background: #3c2c69;
            .img-articulo{
                order: 1;
            }
            .c-article{
                margin-left: 70px;
                margin-bottom: 50px;
                .entry-content,
                .entry-header{
                    margin-right: auto; 
                    
                }
            }
        }

        
    }
}

// Interna Articulo - Categoría

#single-wrapper{
    article{
        a{
            word-wrap: break-word;
            white-space: normal;
        }

        h1{
            color: $primary;
        }
        
        .entry-meta{
            font-family: $cronos_pro;
            border-top: 4px solid $azul_quemado;
            padding-top: 25px;
            #p-day{
                color: white;
                text-shadow: -1px -1px 0 $primary, 1px -1px 0 $primary, -1px 1px 0 $primary, 1px 1px 0 $primary;
                font-size: 63px;
                line-height: 30px;
            }
            #p-month{
                color: $azul_quemado;
                font-size: 31px;
            }
        }

        #share-media{
            ul{
                li{
                    list-style: none;
                }
            }
        }

        .share-buttons{
            position: absolute;
            list-style: none;
            display:block;
            top: 0;
            width: 100%;
            a{    
                position:absolute;
                top:0;
                width: 100%;
                display:none;
                text-align:center;
                &.show{
                    display:inline-block;
                    img{
                        margin: 20px 0;
                    }
                    &:first-child{
                        margin-top: 15px;
                    }
                }
                &.social-share{
                    background: $azul_claro;
                    display: inline-block;
                }
            }
            li{
                display: block;
            }    
            img{
                width: 50%;
                margin: 10px 0;
            }
        }

        aside{
            h3{
                color: $azul_quemado;
                font-family: $cronos_pro;
            }
            article{
                height: 30vh;
                margin-bottom: 20px;
                .relatedthumb{
                    img{
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .relatedcontent{
                    bottom: 0;
                    padding: 14px 0;
                    h4{
                        font-family: $cronos_pro;
                        font-size: 20px;
                        color: $azul_quemado;
                    }
                    p{
                        font-family: $roboto;
                        font-weight: $f_light;
                        font-size: 14px;
                    }
                    .btn-cta{
                        display: block;
                        background: url(../images/btn-related.png) no-repeat;
                        text-indent: -9999px;
                        height: 40px;
                        background-position: center;
                    }
                }                     
            }
        }
    }
    
}