.navbar-dark .navbar-nav .nav-link{
    color: $blanco;
}

.icon-bar {
	width: 35px;
    height: 5px;
	background-color: $blanco;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

#wrapper-navbar {
    z-index: 100;
    position: relative;

}

.navbar-brand{
    z-index: 1000;
    @include media-breakpoint-down(md){
        width: 60%;
    }
}

 
.cont-btns{
    z-index: 1000;
    .navbar-toggler {
        border: none;
        background: transparent !important;
        outline: none!important;
        .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
        }
        .middle-bar {
            opacity: 0;
        }
        .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
        }
        &.collapsed {
            .top-bar {
                transform: rotate(0);
            }
            .middle-bar {
                opacity: 1;
            }
            .bottom-bar {
                transform: rotate(0);
            }
        }
    }

    #btn-search{
        position: relative;
        bottom: 4px;
        i{
            font-size: 25px;
        }
    }
}
#offcanvas-menu > div:nth-child(1) > div > div.col-12.col-md-6.menu-off.navbar-collapse.collapse.show{
    @include media-breakpoint-down(sm){
        margin-top: 20px;
    }
}
#offcanvas-menu{
    background: url(../images/bg_offcanvas.png) no-repeat center;
    background-size: cover;
    position: relative;
    top: -60px;
    z-index: 200;
    width: 100vw;
    overflow-y: scroll;
    background-position-y: 0%;
    
    .row:first-child{
        margin-bottom: 15px;
        margin-top: 130px;
        @include media-breakpoint-down (md){
            margin-top: 30px;
        }
    }
    .row:last-child{
        margin-bottom: 82px;
    }
    .menu-off{
        h2{
            color: $blanco;
            font-family: $cronos_pro;
            font-size: 32px;
            text-transform: uppercase;
            @include media-breakpoint-down(md){
                font-size: 23px!important;
                margin-bottom: 10px;
            }
        }

        .submenu-off{
            ul{
                li{
                    font-family: $roboto;
                    a{
                        color: $blanco;
                        font-weight: $f_light;
                        font-size: 22px;
                        font-style: italic;
                        line-height: 28px;
                        @include media-breakpoint-down(md){
                            font-size: 16px;
                        }
                    }
                    &.current-menu-item{
                        a{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    #cap-menu{
        .glitch{
            animation: glitch 1s infinite  alternate;
        }
    }
    div:nth-child(1) > div > div.col-12.col-md-5.menu-off.navbar-collapse.collapse.show{
        @include media-breakpoint-down(sm){
            margin-top:30px;
        }
    }

    #cap-menu{
        img{
            width: 80%;
        }
    }

    @include media-breakpoint-down(md){
        top: 60px;
    }
}

#c-searchform{
    top: 60px;
    #searchform{
        padding: 20px 0;
        .input-group{
            .field{
                border-bottom: 2px solid $primary;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                background: none;
                border-radius: 0;
                font-family: $cronos_disp;
                color: $blanco;
                font-size: 20px;
                letter-spacing: 1px;
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $blanco;
                    opacity: 1; /* Firefox */
                    font-size: 20px;
                    letter-spacing: 1px;
                }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $blanco;
                    font-size: 20px;
                    letter-spacing: 1px;
                }
                  
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: $blanco;
                    font-size: 20px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}