// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.entry-header{
    font-family: $cronos_pro;
}

h1{
    font-family: $cronos_pro!important;
}

.page{
    h1{
        color: $azul_quemado;
    }
}

.hero-category,
#c-img-article{
    margin-top: 65px;
    @include media-breakpoint-down(md){
        margin-top: 58px;
    }
    
    .wp-post-image{
        height: 70vh!important;
        object-fit: cover;
        object-position: top;
        @include media-breakpoint-down(md){
            height: 40vh!important;
        }
    }
}

.n2-ss-layer-player-cover{
    @include media-breakpoint-up(xl){
        background-position-y: 100%!important;
    }
}

.n2-section-smartslider{
    margin-top:  65px;
    @include media-breakpoint-down(sm){
        margin-top: 57px;
    }
}

.c-titulo {
    margin-bottom: 20px!important;
    h1{
        color: $blanco!important;
        font-size: 2.5rem!important
    }
    p{
        font-size: 20px!important;
        text-align: justify!important;
        direction: ltr;
        @include media-breakpoint-down(md){
            text-align: justify!important;
            line-height: 18px!important;
        }
    }
}


// Keyframes

@-webkit-keyframes glitch {
    0% { transform: translateX(0); }
    25% {transform: translateX(-10px);}
    50% {transform: translateX(-20px);}
    60% {transform: translateX(0);}
    75% {transform: translateX(-10px);}
    90% {transform: translateX(-5px);}
    100% { transform: translateX(0); }
}
@keyframes glitch {
    0% { transform: translateX(0); }
    25% {transform: translateX(-10px);}
    50% {transform: translateX(-20px);}
    60% {transform: translateX(0);}
    75% {transform: translateX(-10px);}
    90% {transform: translateX(-5px);}
    100% { transform: translateX(0); }
}


@keyframes reveal-up {
    0% {
      bottom: -15px;
    }
    50% {
      bottom: -5px;
    }
    100% {
      bottom: 0;
    }
  }

// Header
.collapsing {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.btn-h-a{
    background:url(../images/btn-h-a.png) no-repeat;
    width: 128px;
    height: 39px;
    display: block;
    text-indent: -9999px;
    margin: 0 auto;
}

.btn-h-b{
    background:url(../images/btn-h-b.png) no-repeat;
    width: 128px;
    height: 39px;
    display: block;
    text-indent: -9999px;
    margin: 0 auto;
}


#slider-home{
    .cont-preview{
        z-index: 2;
    }
    .cont-video {
        top: 0;
        z-index: 1;
    }

    .btn-video{
        top: calc(50% - 100px);
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }
}
.home{
    background: $primary;
    .n2-ss-layers-container{
        width: 100%!important;
        margin: 0!important;
        .n2-ss-layer{
            &:nth-child(3){
                width: 100%!important;
                left: 0!important;
            }
        }
    }
}
#main-home{
    a{
        &:hover{
            text-decoration: none;
        }
    }

    .s-home{
        background-size: cover!important;
        height: calc(70vh - 100px);
        background-position-x: center!important;

        .c-text-cat{
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -webkit-transition: opacity 1s ease-in-out;
    
            h2{
               font-family: $cronos_pro; 
               font-size: 1.250em;
               text-transform: uppercase;
               letter-spacing: 1px;
               margin-bottom: 18px;
               transition: 1s ease-in-out;   
               position: relative;
            }
    
            p{
                font-family: $roboto;
                font-weight: $f_light;
                font-size: 0.875em;
                transition: 1s ease-in-out;
                position: relative;
            }
            .btn-cat{
                position: relative;
            }

            @include media-breakpoint-down(lg){
                opacity: 1;
                width: 100%!important;
            }
        }

        &:hover{
            .c-text-cat{
                opacity: 1;
                h2{
                    animation: 0.5s reveal-up linear;
                }
                p{
                    animation: 0.5s reveal-up linear;
                }
                .btn-cat{
                    animation: 0.5s reveal-up linear;
                }
            }
        }
    }
    
}

// Filtros
.dropdown{
    .filter{
        border:1px solid $azul_claro;
        font-size: 20px;
        text-transform: uppercase;
        font-family: $cronos_pro;
        color: $azul_quemado;
        border-radius: 0;
        &:focus{
            box-shadow: none;
        }
    }
    .dropdown-toggle{
        background: $azul_claro;
        border-radius: 0;
        font-size: 20px;
        color: $blanco;
        &:focus{
            box-shadow: none;
        }
    }
    .dropdown-menu.show {
        display: block;
        left: -112px!important;
    }
}

// Popup Form

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: $amarillo;
    color: white;
    padding: 18px;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 0px;
    right: 15px;
    z-index: 200;
    &:focus{
        outline: none;
    }
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;


    p{
        font-weight: $f_light;
        font-size: 1em;
        text-align: center;
        font-family: $roboto;
        &.sib-NAME-area{
            background:url(../images/bg-nombre-f.png) no-repeat;
            background-position-x: 10px;
            background-position-y: 11px;
        }
        &.sib-email-area{
            background:url(../images/bg-email-f.png) no-repeat;
            background-position-x: 10px;
            background-position-y: 16px;
        }
    }
    i{
        font-size: 30px;
    }
    #terms{
        font-family: $cronos_disp;
        letter-spacing: 1px;
        font-size: 14px;
        a{
            color: $blanco;
            text-decoration: underline;
        }
    }
    input[type="text"],
    input[type="email"]{
        border-radius: 5px;
        background: none;
        border:2px solid $blanco;
        padding: 10px 10px 10px 40px;
        font-family: $cronos_disp;
        color: $blanco;
        letter-spacing: 1px;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $blanco;
            opacity: 1; /* Firefox */
        }
          
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $blanco;
        }
          
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $blanco;
        }
    }
    input[type="submit"]{
        border: 0;
        border-radius: 10px;
        padding: 17px 0;
        font-family: $cronos_pro;
        text-transform: uppercase;
        color: $blanco;
        letter-spacing: 1px;
    }
  }
  
/* Add styles to the form container */
.sib_signup_form {
    max-width: 370px;
    padding: 10px 50px 80px;
}  

  
/* Add some hover effects to buttons */
.sib_signup_form .btn:hover, .open-button:hover {
    opacity: 1;
}


// Search

#search-wrapper{
    margin-top: 65px;
    h1{
        font-weight: $f_light;
        color: $primary;
        font-size: 25px;
    }
    #searchform{
        .form-control{
            border-radius: 0;
            border: 1px solid #e9ae30;
            color: $primary;
            &::placeholder{
                color: $primary;
                font-weight: $f_light;
            }
        }
    }
    article{
        header{
            h2{
                a{
                    color: #5a5a5a;
                }
            }
        }
        img{
            object-fit: cover;
        }

        .entry-header{
            .link-category{
                color: #8b8b8b;
            }
        }

        .entry-summary{
            p{
                font-weight: $f_light;
                color: #5a5a5a;
            }
            .btn{
                text-indent: -9999px;
                background: url(../images/btn-h-b.png) no-repeat;
                width: 140px;
                height: 40px;
                border: 0;
                &:focus{
                    outline: 0;
                    box-shadow: none;
                }
            }
        }
    }
}

// Play

.n2-ss-slider .n2-ss-layer-player-cover img{
    top: 47%!important;
}

// Paginación

.pagination{
    font-family: $cronos_bold;
    font-size: 20px;
    color: #5a5a5a;
    border-radius: 0;
    .page-item.active .page-link{
        border: none;
        background: none;
        border-bottom: 2px solid #e9ae30;
        color: #5a5a5a;
        border-radius: 0;
    }
    .page-item .page-link{
        border: 0;
        color: #5a5a5a;
        &:focus{
            box-shadow: none;
        }
    }
}

// Footer

#wrapper-footer{
    background: url(../images/bg_footer.png) no-repeat;
    background-size: cover;
    position: relative;

    #copyright{
        font-family: $cronos_light;
    }

    #conocenos{
        font-family: $roboto;
        font-weight: $f_bold;
    }
}


