<!doctype html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<title>Contigo Conectados</title>
<link rel="shortcut icon" href="https://blog.tigounebusiness.co/wp-content/uploads/2018/06/favicon-300x300.png" />
<script src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/jquery-3.3.1.min_.js" type="text/javascript"></script>
<link href="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/stylecontigo2.css" rel="stylesheet" type="text/css">
<script src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/action.js" type="text/javascript"></script>
</head>
<body>
<div class="cont_header">
  <div class="cont_elemt_header">
    <div class="logo_contigo_conectados"><img src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/logo-contigo-conectados.png" width="100%" alt="contamos-contigo"/></div>
    <div class="cont_sus">
      <div class="boton_conf"><a style="text-decoration: none; color: #fff;" href="#cont_formu">Confirmar asistencia</a></div>
    </div>
  </div>
</div>
<div class="cont_gene">
  <div class="cont_gene_centro">
    <div class="cont_flecha"><img src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-4.png" width="99%" alt="contamos-contigo"/></div>
    <div class="esq_degrada"></div>
    <div class="img_gene"><img src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-1.png" width="100%" alt="contamos-contigo"/></div>
    <div class="cont_intro">
      <p>Comprometidos con los desafíos que representa el uso de Internet en niños y jóvenes en Colombia, en <strong>TigoUne</strong> estamos<strong> Contigo Conectados</strong>, porque nos interesa promover el uso responsable y creativo de Internet, donde la visión de oportunidad prevalece sobre la del riesgo para  que todos disfrutemos de las ventajas de mundo digital.</p>
      <p>Nuestra estrategia de Responsabilidad Social Empresarial es el resultado de un esfuerzo investigativo único en alcance y metodología que se preguntó por los riesgos y las oportunidades en el uso de Internet.</p>
      <p style="color: #00C7FF; text-align: center; font-weight: bold;">Te invitamos a conocer los resultados del estudio que realizamos con el apoyo de la Universidad EAFIT y a identificar cuál es tu papel en este reto.</p>
      <p class="selec_ciudad">Ciudad:
        <select id="la_ciudad">
          <option value="Bogota" id="sel_Bogota" >Bogotá</option>
          <option value="Medellin" id="sel_Medellin" selected >Medellín</option>
          <option value="Cali" id="sel_Cali">Cali</option>
          <option value="Barranquilla" id="sel_Barranquilla">Barranquilla</option>
          <option value="Cartagena" id="sel_Cartagena">Cartagena</option>
          <option value="Bucaramanga" id="sel_Bucaramanga">Bucaramanga</option>
          <option value="Pereira" id="sel_Pereira">Pereira</option>
          
          <!--<option value="Manizales">Manizales</option>-->
        </select>
      </p>
      <p><span class="ico_fecha"><img src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-2.png" width="20" height="22" alt="contamos-contigo"/></span><span id="fecha_event">26 de julio de 2018. 3:00 p.m.</span><span class="ico_fecha ico_direc"><br class="salto_linea_br">
        <img src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-3.png" width="19" height="24" alt="contamos-contigo"/></span><span id="direction_event">Calle 76 #2 - 68 Metropolitan Club</span></p>
    </div>
  </div>
</div>
<div class="cont_gene">
  <div class="cont_gene_centro cont_gene_centro2">
    <div class="cont_conferencistas">
      <p class="titulo_confe">Los conferencistas</p>
      <div class="ca_confe confe_1" id="confe_1">
        <div class="foto_conf foto_conf01"></div>
        <div class="cont_conf">
          <p class="cont_conf_name">Marcelo Cataldo</p>
          <p class="cont_conf_con">Ingeniero Informático, con un MBA de la Universidad Politécnica de Madrid.</p>
          <p class="cont_conf_con">Tiene más de 18 años de experiencia en el sector de telecomunicaciones, liderando operaciones regionales y globales en Latinoamérica, Europa y Estados Unidos.</p>
          <p class="cont_conf_con">Tiene una amplia visión que abarca lo técnico, lo comercial, lo analítico y lo estratégico, habilidad le ha permitido afrontar con éxito la desafiante dinámica del negocio de las telecomunicaciones y variantes las condiciones de los mercados.</p>
          <p class="link_redes"><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-6.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-7.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-8.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-9.png" width="22" height="22" alt="contamos-contigo"/></a></p>
        </div>
      </div>
      <div class="ca_confe confe_2" id="confe_2">
        <div class="foto_conf foto_conf02"></div>
        <div class="cont_conf">
          <p class="cont_conf_name">Marcelo Cataldo</p>
          <p class="cont_conf_con">Ingeniero Informático, con un MBA de la Universidad Politécnica de Madrid.</p>
          <p class="cont_conf_con">Tiene más de 18 años de experiencia en el sector de telecomunicaciones, liderando operaciones regionales y globales en Latinoamérica, Europa y Estados Unidos.</p>
          <p class="cont_conf_con">Tiene una amplia visión que abarca lo técnico, lo comercial, lo analítico y lo estratégico, habilidad le ha permitido afrontar con éxito la desafiante dinámica del negocio de las telecomunicaciones y variantes las condiciones de los mercados.</p>
          <p class="link_redes"><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-6.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-7.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-8.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-9.png" width="22" height="22" alt="contamos-contigo"/></a></p>
        </div>
      </div>
      <div class="ca_confe confe_3" id="confe_3">
        <div class="foto_conf foto_conf03"></div>
        <div class="cont_conf">
          <p class="cont_conf_name">Marcelo Cataldo</p>
          <p class="cont_conf_con">Ingeniero Informático, con un MBA de la Universidad Politécnica de Madrid.</p>
          <p class="cont_conf_con">Tiene más de 18 años de experiencia en el sector de telecomunicaciones, liderando operaciones regionales y globales en Latinoamérica, Europa y Estados Unidos.</p>
          <p class="cont_conf_con">Tiene una amplia visión que abarca lo técnico, lo comercial, lo analítico y lo estratégico, habilidad le ha permitido afrontar con éxito la desafiante dinámica del negocio de las telecomunicaciones y variantes las condiciones de los mercados.</p>
          <p class="link_redes"><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-6.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-7.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-8.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-9.png" width="22" height="22" alt="contamos-contigo"/></a></p>
        </div>
      </div>
      <div class="ca_confe confe_4" id="confe_4">
        <div class="foto_conf foto_conf04"></div>
        <div class="cont_conf">
          <p class="cont_conf_name">Marcelo Cataldo</p>
          <p class="cont_conf_con">Ingeniero Informático, con un MBA de la Universidad Politécnica de Madrid.</p>
          <p class="cont_conf_con">Tiene más de 18 años de experiencia en el sector de telecomunicaciones, liderando operaciones regionales y globales en Latinoamérica, Europa y Estados Unidos.</p>
          <p class="cont_conf_con">Tiene una amplia visión que abarca lo técnico, lo comercial, lo analítico y lo estratégico, habilidad le ha permitido afrontar con éxito la desafiante dinámica del negocio de las telecomunicaciones y variantes las condiciones de los mercados.</p>
          <p class="link_redes"><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-6.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-7.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img style="margin-right: 5px;" src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-8.png" width="22" height="22" alt="contamos-contigo"/></a><a href="#" target="_blank"><img src="https://blog.tigounebusiness.co/wp-content/uploads/2018/07/contigo-conectados-9.png" width="22" height="22" alt="contamos-contigo"/></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cont_gene">
  <div class="cont_gene_centro cont_gene_centro2 cont_agenda">
    <div class="cont_conferencistas">
      <p class="titulo_confe">Agenda</p>
      <div class="ca_confe confe_1 newspace" id="cont_agen_1">
        <div class="cont_conf conte_agen ">
          <p class="cont_conf_name">8:00 a.m.</p>
          <p class="cont_agen1">Lorem ipsum Lorem ipsum sit amet, consecteter </p>
        </div>
      </div>
      <div class="ca_confe confe_2 newspace" id="cont_agen_2">
        <div class="cont_conf conte_agen">
          <p class="cont_conf_name">8:00 a.m.</p>
          <p class="cont_agen1">Lorem ipsum Lorem ipsum sit amet, consecteter </p>
        </div>
      </div>
      <div class="ca_confe confe_3 newspace" id="cont_agen_3">
        <div class="cont_conf conte_agen">
          <p class="cont_conf_name">8:00 a.m.</p>
          <p class="cont_agen1">Lorem ipsum Lorem ipsum sit amet, consecteter </p>
        </div>
      </div>
      <div class="ca_confe confe_4 newspace" id="cont_agen_4">
        <div class="cont_conf conte_agen">
          <p class="cont_conf_name">8:00 a.m.</p>
          <p class="cont_agen1">Lorem ipsum Lorem ipsum sit amet, consecteter </p>
        </div>
      </div>
      <div class="ca_confe confe_1 newspace" id="cont_agen_5">
        <div class="cont_conf conte_agen">
          <p class="cont_conf_name">8:00 a.m.</p>
          <p class="cont_agen1">Lorem ipsum Lorem ipsum sit amet, consecteter </p>
        </div>
      </div>
      <div class="ca_confe confe_2 newspace" id="cont_agen_6">
        <div class="cont_conf conte_agen">
          <p class="cont_conf_name">8:00 a.m.</p>
          <p class="cont_agen1">Lorem ipsum Lorem ipsum sit amet, consecteter </p>
        </div>
      </div>
      <div class="ca_confe confe_3 newspace" id="cont_agen_7">
        <div class="cont_conf conte_agen">
          <p class="cont_conf_name">8:00 a.m.</p>
          <p class="cont_agen1">Lorem ipsum Lorem ipsum sit amet, consecteter </p>
        </div>
      </div>
      <div class="ca_confe confe_4 newspace" id="cont_agen_8">
        <div class="cont_conf conte_agen">
          <p class="cont_conf_name">8:00 a.m.</p>
          <p class="cont_agen1">Lorem ipsum Lorem ipsum sit amet, consecteter </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cont_header cont_formu" id="cont_formu">
  <div class="cont_gene_centro cont_gene_centro2 contformu_">
    <div class="cont_intro">
      <p class="titulo_formu">Confirmar asistencia</p>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script> 
      <![endif]--> 
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script> 
      <script>
       hbspt.forms.create({
      portalId: "2638078",
      formId: "6d1d5b05-c802-4bc5-b6c6-f63d7bcba31a"
      });
      </script>
      <div id="data_form_hubspot">
        <input type="hidden" name="" id="calendar_google">
        <input type="hidden" name="" id="calendar_icalendar">
        <script type="text/javascript">
          setTimeout(function(){ 
            var urlGoogle = "";
            var urlICalendar = "";
            $( document ).ready(function() {
              

              var aCalendars = {
                google:[
                  {
                    city:"Bogotá",
                    url:"https://calendar.google.com/event?action=TEMPLATE&tmeid=Mzk5YTBrdjlzMmxzbzVjYTAzcTlsdWI0MDIgY2FybG9zLnZlZ2FAYXJpYWRuYWNnLmNvbQ&tmsrc=carlos.vega%40ariadnacg.com"
                  },
                  {
                    city:"Medellín",
                    url:"https://calendar.google.com/event?action=TEMPLATE&tmeid=MWZmaWZydGNpb3ByZWdzZWc1NzZqZWxuN2EgY2FybG9zLnZlZ2FAYXJpYWRuYWNnLmNvbQ&tmsrc=carlos.vega%40ariadnacg.com"
                  }
                ],
                iCalendar:[
                  {
                    city:"Bogotá",
                    url:"prueba_1.ics"
                  },
                  {
                    city:"Medellín",
                    url:"prueba_2.ics"
                  }
                ]
              }

              $( "#ciudad-6d1d5b05-c802-4bc5-b6c6-f63d7bcba31a" ).change(function() {
                var urlGoogle = "";
                var urlICalendar = "";
                var valueOption = $(this).val();
                Object.keys(aCalendars.google).forEach(function(k, i) {
                  if(aCalendars.google[k].city === valueOption)
                  {
                    urlGoogle = aCalendars.google[k].url;
                    $("#calendar_google").val(urlGoogle);
                  }
              });

              Object.keys(aCalendars.iCalendar).forEach(function(k, i) {
                  if(aCalendars.iCalendar[k].city === valueOption)
                  {
                    urlICalendar = aCalendars.iCalendar[k].url;
                    $("#calendar_icalendar").val(urlICalendar);
                  }
              });
                
                
            });

            $("form input[type=submit]").click(function() {
              setTimeout(function(){
                $( ".submitted-message" ).append( "<div><a href='"+$("#calendar_google").val()+"' id='calendar_google'>Agregar al calendario Google</a><a href='"+$("#calendar_icalendar").val()+"' id='calendar_ical'>Agregar al calendario ICalendar</a></div>" );
              },500);
            });

          });

          }, 2000);
          
        </script> 
      </div>
    </div>
  </div>
</div>
<div class="cont_header" style="background: #00C7FF;">
  <div class="cont_gene_centro cont_gene_centro2" style="text-align: center; margin-top: 0; font-size: 0.8em; color: #fff; padding: 1em 0;">
    <p style="width: 90%; padding-left: 5%;">Todos los derechos reservados.| <a style="color: #fff;" href="https://www.tigo.com.co/sites/tigounecorp/files/fragmentos/general_listado_archivos/terminos-condiciones-tigoune_0.pdf" target="_blank">Términos y condiciones</a> | <a style="color: #fff;" href="https://www.tigo.com.co/regimen-de-proteccion-al-usuario/datos-personales" target="_blank">Política de seguridad y protección de datos personales</a> | 2018</p>
  </div>
</div>
</body>
</html>
